.experience-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.sidebar {
  width: 200px;
  color: var(--text-color);
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 10px;
  border-left: 3px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  font-family: var(--font-sans) ;
  border-left-color: var(--secondColor);
  color: var(--text-color);
}

.sidebar li.active {
  background-color: var(--backgroundColor);
  border-left-color: var(--mainColor);
}

.details{
  width: 700px;
  flex-grow: 1;
  padding: 20px;
  background-color: var(--backgroundColor);
  min-height: 300px;
  font-family: var(--font-sans) ;
}

.details h3 {
  color: var(--mainColor);
}
.details p{
  color: var(--text-color);

}
.details ul li{
  color: var(--text-color);


}
.details ul {
  list-style-type: none;
  padding: 0;

}
@media screen and (max-width: 1020px){
  .experience-container{
    margin: 0 10px;
    width: 95%;
  }
  .details{
    padding-right: 0;
    width: 500px
  }
}
