<div class="socialMedia" >
  <div class="cont_email" @enterState>
    <h2 class="email">leonardohuarcaya27@gmail.com</h2>
  </div>
  <div class="cont_a" @enterState>
    <a href="https://github.com/IEEE-Computer-Society-UPC" target="_blank" ><i class="fab fab fa-github"></i></a>
    <a href="https://www.linkedin.com/company/ieee-cs-upc/" target="_blank" ><i class="fab fa-linkedin"></i></a>
    <a href="https://api.whatsapp.com/send?phone=51981666866" target="_blank" ><i class="fab fa-whatsapp"></i></a>
  </div>

</div>

<!--<div class="menu-container" @enterState2>
  <button class="main-button" (click)="toggleMenu()">ES</button>

  <button class="option-button" [ngClass]="{'open': isOpen}" style="&#45;&#45;angle: 140deg;">
    <span title="Español">ES</span>
  </button>
  <button class="option-button" [ngClass]="{'open': isOpen}" style="&#45;&#45;angle: 220deg;">
    <span title="Español">EN</span>
  </button>
</div>-->
