.subtitle{
  margin-top: 130px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  border-radius: 50%;
  transition: opacity 0.5s ease-out;
  color: var(--mainColor);
}
.subtitle::before{
  content: '';
  display: block;
  width: 15%;
  height: 1px;
  background-color: var(--secondColor);
  box-shadow: 0 0 7px var(--mainColor);
  position: absolute;
  top: 23px;
  right: 20%;
  border-radius: 90px 0 0 90px;
}
.subtitle::after{
  content: '';
  display: block;
  width: 15%;
  height: 1px;
  background-color: var(--secondColor);
  box-shadow: 0 0 7px var(--mainColor);
  position: absolute;
  bottom: 23px;
  left: 20%;
  border-radius: 0 90px 90px 0;
}

@media screen and (max-width: 850px){
  .subtitle{
    margin-top: 30px;
  }
  .subtitle::before{
    right: 10%;
    width: 10%;
  }
  .subtitle::after{
    left: 10%;
    width: 10%;
  }
}
