.projects{
  display: flex;
  flex-direction: column;
}
.projectsContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 30px;
  max-width: 100%;
  width: 95%;
}
.project{
  display: flex;
  width: 100%;
  margin: 30px 0;
  position: relative;
}

.project::before,
.project::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  border: 6px solid var(--mainColor);
}

.project::before {
  top: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-right: none;
  border-bottom: none;
}

.project::after {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 20px;
  border-left: none;
  border-top: none;
}

.contentCarrusel{
  width: 80%;
  margin: 20px;
}

#carousel-item{
  width: 100%;
  max-height: 300px;
}

#carousel-item img{
  height: 100%;
  width: auto;
}
.carousel-inner{
  border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next{
  box-shadow:  0 var(--secondColor);
}
.carousel-control-prev,
.carousel-control-next:hover{
  background-color: transparent;
  box-shadow:  0 var(--secondColor);
}

/*texto*/

.textProject{
  width: 50%;
  margin: 40px 15px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  height: 280px;
}
.cont_description{
  height: 100px;
}
.textProject p {
  font-family: sans-serif;
  font-size: 14px;
}

.textProject h2{
  color: var(--mainColor);
}


.textProject p,
.textProject h5{
  color: var(--text-color);

}
.tools_projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.tools_projects i{
    font-size: 30px;
    margin-right: 10px;
    color: var(--mainColor);
}
.cont_icon:hover::after{
  content: attr(title);
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translateX(-50%);
  color: var(--mainColor);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1;
  margin-bottom: 5px;
  font-family: "Font Awesome 6 Brands";
}
.cont_icon{
  color: var(--mainColor);
  padding: 8px;
  cursor: pointer;
}
.cont_icon img{
  width: 30px;
  cursor: pointer;
  filter: var(--layerColor);

}
.cont_icon img:hover{
  filter: none;
}
.cont_btn button{
  margin-right: 20px;

}
.cont_btn a i{
  color: var(--text-color);
  font-size: 20px;
}

@media screen and (max-width: 1020px){
  .project{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textProject {
    width: 80%;
  }
  .projectsContent{
    margin: 0 10px;
    width: 95%;
  }
}
