<app-title [title]="title"></app-title>
<div class="contact-card">
  <div class="contact-item">
    <div class="icon">
      <i class="fas fa-phone-alt"></i>
    </div>
    <div class="info">
      <h4>Mi Número</h4>
      <p>+51 981666866</p>
    </div>
  </div>

  <div class="contact-item">
    <div class="icon">
      <i class="fas fa-envelope"></i>
    </div>
    <div class="info">
      <h4>Email Address</h4>
      <p>leonardohuarcaya27@gmail.com</p>
    </div>
  </div>

  <div class="contact-item">
    <div class="icon">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="info">
      <h4>Dirección</h4>
      <p>Lima - Perú</p>
    </div>
  </div>
</div>
