.nav{
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 100;
  background:rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  transition: top 0.3s;
}
.hidden {
  top: -100px;
}


.logo{
  font-size: 23px;
  margin: 10px 50px;
}
.logo a{
  color: var(--text-color);
  text-decoration: none;
}

#menuList{
  color: var(--mainColor);
  font-size: 30px;
  display: none;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  width: 60%;
}
.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar ul li{
  margin: 0 15px;
  font-size: 24px;
  position: relative;
  color: var(--text-color);
  text-decoration: none;
}
.navbar ul li.active {
  color: var(--mainColor);

}
.navbar ul li.active::before{
  width: 70%;
  opacity: 1;
}
.navbar ul li.active::after{
  width: 40%;
  opacity: 1;
}

.navbar ul button{
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  font-size: 25px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul button i{
  color: var(--text-color);
}
span{
  color: var(--mainColor);
}
.navbar ul li::before,
.navbar ul li::after{
  content: '';
  position: absolute;
  border-bottom: 2px solid var(--mainColor);
  opacity: 0;
  transition: 0.2s;
}

.navbar ul li::before{
  bottom: -5px;
  right: 0;
  width: 90%;

}
.navbar ul li::after{
  bottom: -10px;
  width: 60%;
  left: 0;
}
.navbar ul li:hover::before{
  width: 70%;
  opacity: 1;
}
.navbar ul li:hover::after{
  width: 40%;
  opacity: 1;
}
.navbar ul li:hover{
  color:  var(--mainColor);
  cursor: pointer;
}

@media (max-width: 1220px){

  .nav{
    justify-content: space-between;
  }
  .space{
    height: 90px;
  }

  #menuList{
    display: block;
    cursor: pointer;
    margin: 0 30px;
  }
  .navbar.active{
    display:block;
  }
  .navbar{
    position: absolute;
    flex-direction: column;
    top:100%;
    right: 0;
    width: 130px;
    border-left: 3px solid var(--mainColor);
    border-bottom: 3px solid var(--mainColor);
    padding: 1rem 3%;
    display: none;
    background-color: var(--backgroundColor );
  }
  .navbar ul{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar ul li{
    display: block;
    font-size: 1rem;
    margin: 10px 0;
  }
  .navbar ul li:hover{
    color: var(--mainColor);
    text-shadow: 1px  0 0 var(--mainColor),;
  }

  .navbar ul li::before,
  .navbar ul li::after{
    display: none;
  }
  .navbar ul li.active{
    color: var(--mainColor);
  }
}
