<div class="nav" @enterState [class.hidden]="isHidden">

  <div class="logo">
    <a href=""><h1><span>&lt;</span>Leonard<span>/&gt;</span></h1></a>
  </div>
  <i class="fas fa-bars" id="menuList" (click)="toggleMenu()"></i>

  <nav class="navbar" id="menu" [class.active]="isMenuOpen">
    <ul>
      <li [class.active]="activeSection === 'home'" (click)="scrollToSection('home')">Bienvenido</li>
      <li [class.active]="activeSection === 'tools'" (click)="scrollToSection('tools')">Herramientas</li>
      <li [class.active]="activeSection === 'education'" (click)="scrollToSection('education')">Educación</li>
      <li [class.active]="activeSection === 'projects'" (click)="scrollToSection('projects')">Proyectos</li>
      <li [class.active]="activeSection === 'contacts'" (click)="scrollToSection('contacts')">Contacto</li>
      <button (click)="toggleTheme()">
        <i class="fas {{theme}}"></i>
      </button>
    </ul>
  </nav>
</div>





