<div class="nav" @enterState [class.hidden]="isHidden">

  <div class="logo">
    <a href=""><h1><span>&lt;</span>Leonard<span>/&gt;</span></h1></a>
  </div>
  <i class="fas fa-bars" id="menuList" (click)="toggleMenu()"></i>

  <nav class="navbar" id="menu" [class.active]="isMenuOpen"  >
    <a (click)="scrollToSection('home',100)">Bienvenido</a>
    <a (click)="scrollToSection('tools',100)">Herramientas</a>
    <a (click)="scrollToSection('education',100)">Educación</a>
    <a (click)="scrollToSection('projects',0)">Proyectos</a>
    <a (click)="scrollToSection('contacts',100)">Contacto</a>
    <button (click)="toggleTheme()">
      <i class="fas {{theme}}"></i>
    </button>
  </nav>
</div>





