<div class="nav" @enterState [class.hidden]="isHidden">

  <div class="logo">
    <a href=""><h1><span>&lt;</span>Leonard<span>/&gt;</span></h1></a>
  </div>
  <i class="fas fa-bars" id="menuList" (click)="toggleMenu()"></i>

  <nav class="navbar" id="menu" [class.active]="isMenuOpen"  >
    <a href="#Home">Bienvenido</a>
    <a href="#Tools">Herramientas</a>
    <a href="#education">Educación</a>
    <a href="#projects" >Proyectos</a>
    <a href="#Contacts">Contacto</a>
    <button (click)="toggleTheme()">
      <i class="fas {{theme}}"></i>
    </button>
  </nav>
</div>





