<div class="cont_body">
  <div class="cont_main"@enterState>
    <div class="main_img">
      <img src="../../assets/img/foto.png">
    </div>
    <div class="cont_text" >
      <h1>Hi👋 I'm </h1>
      <div class="sub_title name">
        Leonardo López
      </div>
      <div class="sub_title">
        Full Stack Developer
      </div>
      <div class="text">
        I'm a Software Engineering Student - 7th cycle UPC <br>
        I love to learn new things and improve my skills every day.
        I focus on developing innovative services and designs, with good teamwork.
      </div>
      <div class="cont_btn">
        <button> Available to work </button>
        <a href="../../assets/docs/CV-LeonardoLópez.pdf" download="CV-LeonardoLópez.pdf" target="_blank" ><i class="fas fa-file-alt"></i></a>
      </div>
    </div>


  </div>
</div>

