<section class="cont_main" @enterState id="home">
  <div class="main_img">
    <img src="../../assets/img/foto.png">
  </div>
  <div class="cont_text">
    <h1>Bienvenido, soy</h1>
    <div class="sub_title name">Leonardo López</div>
    <div class="sub_title typewriter">
      {{ displayedText }}<span class="cursor" [class.blink]="showCursor">|</span>
    </div>
    <div class="text">
      Desarrollo aplicaciones web modernas, escalables y centradas en el usuario.
      Combino experiencia en frontend y backend para crear soluciones eficientes,
      intuitivas y de alto impacto. Apasionado por la innovación, la optimización de procesos
      y el aprendizaje autónomo constante.
    </div>
    <div class="cont_btn">
      <button> Available to work </button>
      <a href="../../assets/docs/CV-LeonardoLópez.pdf" download="CV-LeonardoLópez.pdf" target="_blank"><i class="fas fa-file-alt"></i></a>
    </div>
  </div>
</section>



