<div class="cont_main" @enterState id="home">
  <div class="main_img">
    <img src="../../assets/img/foto.png">
  </div>
  <div class="cont_text" >
    <h1>Bienvenido, soy</h1>
    <div class="sub_title name">
      Leonardo López
    </div>
    <div class="sub_title">
      Full Stack Developer
    </div>
    <div class="text">
      Aprendizaje continua y mejorar las habilidades día a día, son aspectos en los que me enfoco
      para mejorar el desarrollo de servicios innovadores y diseños creativos,
      siempre con un enfoque en la calidad y el trabajo en equipo. Estoy comprometido
      con aportar soluciones efectivas y contribuir al éxito de los proyectos en los
      que participo. ¡Estoy lista para asumir nuevos desafíos y marcar la diferencia!
    </div>
    <div class="cont_btn">
      <button> Available to work </button>
      <a href="../../assets/docs/CV-LeonardoLópez.pdf" download="CV-LeonardoLópez.pdf" target="_blank" ><i class="fas fa-file-alt"></i></a>
    </div>
  </div>


</div>


