.content_body{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1020px){
  .content_body {
    margin: 0 auto;
    width: 100%;
  }
}
