.tools{
  width: 100%;
  background: var(--backgroundColor);
  text-align: center;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.cont_tools{
  width: 250px;
  background-color: var(--backgroundColor);
  border: 1px solid var(--mainColor);
  border-radius: 10px;
  margin: 15px 30px;
  padding: 10px;
}
.title{
  font-size: 25px;
  color: var(--mainColor);
  margin: 10px 0;
}
.description{
  font-size: 15px;
  color: var(--text-color);
  margin: 10px 0;
  font-family: var(--font-sans);
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

img{
  width: 30px;
  cursor: pointer;
  filter: var(--layerColor);

}
img:hover{
  filter: none;
}

.cont_icon:hover::after{
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--mainColor);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1;
  margin-bottom: 5px;
  font-family: "Font Awesome 6 Brands";
}
.cont_icon{
  color: var(--mainColor);
  font-size: 30px;
  padding: 13px;
  cursor: pointer;
}

