<app-title [title]="tools"></app-title>
<div class="card">
  <div><i title="Angular" class="fa-brands fa-angular"></i></div>
  <div><i title="React" class="fa-brands fa-react"></i></div>
  <div><i title="Vue" class="fa-brands fa-vuejs"></i></div>
  <div><i title="Node" class="fa-brands fa-node-js"></i></div>
  <div><i title="Express" class="fa-brands fa-node-js"></i></div>
  <div><i title="MongoDB" class="fa-brands fa-envira"></i></div>
  <div><i title="PostgreSQL" class="fa-brands fa-envira"></i></div>
  <div><i title="MySQL" class="fa-brands fa-envira"></i></div>
  <div><i title="Docker" class="fa-brands fa-docker"></i></div>
</div>
