.tools{
  width: 100%;
  background: var(--backgroundColor);
  text-align: center;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.cont_tools{
  width: 28%;
  background-color: var(--backgroundColor);
  border: 1px solid var(--mainColor);
  border-radius: 10px;
  margin: 15px 20px;
  padding: 10px;
}
.title{
  font-size: 25px;
  color: var(--mainColor);
  margin: 10px 0;
}
.description{
  font-size: 15px;
  color: var(--text-color);
  margin: 10px 0;
  font-family: var(--font-sans);
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@property --angle2{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 90%, var(--mainColor));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 10s spin linear infinite;
}
.card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle2),var(--mainColor), transparent 10% );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 10s spin2 linear infinite;
}
@keyframes spin{
  from {
    --angle: 50deg;
  }
  to {
    --angle: 410deg;
  }
}

@keyframes spin2{
  from {
    --angle2: 360deg;
  }
  to {
    --angle2: 0deg;
  }
}*/

i{
  color: var(--mainColor);
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
}
i:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--mainColor);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1;
  margin-bottom: 5px;
}
