<app-title [title]="tools" id="tools"></app-title>
<div class="tools">
  <div class="cont_tools">
    <div class="title">
      Frontend Development
    </div>
    <div class="description">
      Creador de interfaces de usuario con experiencia en el uso de las siguientes tecnologías:
    </div>
    <div class="icons">
      <div class="cont_icon" title="Html5"><img src="assets/img/icons/html.png"></div>
      <div class="cont_icon" title="css3"><img src="assets/img/icons/css.png"></div>
      <div class="cont_icon" title="java Script"><img src="assets/img/icons/js.png"></div>
      <div class="cont_icon" title="boostrap"><img src="assets/img/icons/boostrap.png"></div>
      <div class="cont_icon" title="angular"><img src="assets/img/icons/angular.png"></div>
      <div class="cont_icon" title="vue"><img src="assets/img/icons/vue.svg"></div>
      <div class="cont_icon" title="wordpress"><img src="assets/img/icons/wordpress.svg"></div>

    </div>
  </div>
  <div class="cont_tools">
    <div class="title">
      Backend Development
    </div>
    <div class="description">
      Creación de servicios y aplicaciones con experiencia en el uso de las siguientes tecnologías:
    </div>
    <div class="icons">
      <div class="cont_icon" title="spring boot"><img src="assets/img/icons/spring-3.svg"></div>
      <div class="cont_icon" title=".net"><img src="assets/img/icons/.net.svg"></div>
      <div class="cont_icon" title="java"><img src="assets/img/icons/java.png"></div>
    </div>
  </div>
  <div class="cont_tools">
    <div class="title">
      Other tools
    </div>
    <div class="description">
      Experiencia en el uso de las siguientes herramientas:
    </div>
    <div class="icons">
      <div class="cont_icon" title="github"><img src="assets/img/icons/github.svg"></div>
      <div class="cont_icon" title="azure"><img src="assets/img/icons/azure.png"></div>
      <div class="cont_icon" title="flutter"><img src="assets/img/icons/flutter.png"></div>
      <div class="cont_icon" title="My Sql"><img src="assets/img/icons/mysql.png"></div>

    </div>
  </div>
</div>

