<app-title [title]="tools"></app-title>
<div class="tools">
  <div class="cont_tools">
    <div class="title">
      Frontend Development
    </div>
    <div class="description">
      I have experience in developing web applications
      using the following technologies:
    </div>
    <div class="icons">
      <div><i title="HTML 5" class="fa-brands fa-html5"></i></div>
      <div><i title="CSS" class="fa-brands fa-css3-alt"></i></div>
      <div><i title="JavaScript" class="fa-brands fa-js"></i></div>
      <div><i title="Angular" class="fa-brands fa-angular"></i></div>
      <div><i title="Vue" class="fa-brands fa-vuejs"></i></div>
    </div>
  </div>
  <div class="cont_tools">
    <div class="title">
      Backend Development
    </div>
    <div class="description">
      I have experience in developing web applications
      using the following technologies:
    </div>
    <div class="icons">
      <div><i title="Node.js" class="fa-brands fa-node-js"></i></div>
      <div><i title="Express" class="fa-solid fa-leaf"></i></div>
      <div><i class="fa-solid fa-code" title=".NET"></i></div>
      <div><i title="Git" class="fa-brands fa-git"></i></div>
      <div><i title="Trello" class="fa-brands fa-trello"></i></div>
    </div>
  </div>
  <div class="cont_tools">
    <div class="title">
      Data Base
    </div>
    <div class="description">
      I have experience in using the following tools:
    </div>
    <div class="icons">
      <div><i title="GitHub" class="fa-brands fa-github"></i></div>
      <div><i title="GitLab" class="fa-brands fa-gitlab"></i></div>
      <div><i title="Jira" class="fa-brands fa-jira"></i></div>
      <div><i title="Slack" class="fa-brands fa-slack"></i></div>
    </div>
  </div>
</div>

