*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
}
body{
  background-color: var(--backgroundColor);
  font-family: 'Chau Philomene One', sans-serif;

}
:root{
  --mainColor: rgb(52, 194, 47);
  --backgroundColor: rgb(10, 25, 47);
  --black: rgb(0, 0, 0);
  --white: rgb(116, 215, 116);
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}
